html > * {
    font-family: Roboto;
}
body {
    margin: 0px;
}
title {
    animation-delay: 0s;
}
h1 {
    font-family: Roboto;
    color:white
}
p {
    font-family: Roboto;
    color:white
}
a {
    text-decoration: none;
    color: #808080;
    transition: 0.5s ease;
    cursor: pointer;
}
.square {
    position: fixed;
    width:50px;
    height:50px;
    animation: glitch 1s infinite;
    z-index: -1;
  }
  
  @keyframes glitch {
    0% {
      transform: translate(-50px);
    }
    20% {
      transform: translate(10px, 10px);
    }
    40% {
      transform: translate(-10px, -10px);
    }
    60% {
      transform: translate(10px, -10px);
    }
    80% {
      transform: translate(-10px, 10px);
    }
    100% {
      transform: translate(-50px);
    }
  }
  
a:hover {
    text-decoration: underline;
    color: #ffffff;
    transition: 0.5s ease;
}
#gold {
    color: #ffd700;
    text-shadow: 0px 0px 10px gold;
}
.box {
    width:calc(25% - 30px);
    height:200px;
    border-radius: 20px;
    background-color: #101010;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    position: relative;
    float: left;
    border: 5px solid #050505;
    overflow: hidden;
    align-self: center;
}
.dlbox {
    margin:0;
    width:100%;
    height:200px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.dlbox button {
    float:right;
}
#stp {
    background-image: linear-gradient(-180deg,#ff8000,#402000);
}
#pg {
    background-image: linear-gradient(-180deg,#0080ff,#002040);
}
#sgi {
    background-image: linear-gradient(-180deg,#8000ff,#200040);
}
#txt {
    background-image: linear-gradient(-180deg,#008000,#002000);
}
.box#off {
    background-color: #070707;
    border-color: #030303;
}
.box div.text {
    visibility: hidden;
    width:100%;
    height:50%;
    text-align: center;
    background-image: linear-gradient(0deg,#101010BF 50%,#00000000);
    position: absolute;
    bottom:-50%;
    z-index: 1;
    transition: all 0.5s ease;
}
.box:hover div.text {
    visibility: visible;
    bottom:0;
    transition: all .5s ease;
}
.box h1 {
    font-size: 150%;
}
.box p1 {
    font-size: 100%;
    font-family: Roboto;
}
.box a {
    font-family: Roboto;
    font-weight: bold;
    text-decoration: none;
    color:cornflowerblue;
}
.box a1 {
    font-family: Roboto;
    font-weight: bold;
    text-decoration: none;
    color:cornflowerblue;
}
.box a#off {
    font-family: Roboto;
    font-weight: bold;
    text-decoration: none;
    color: #9ba4b5;
    
}
.box .imagebox {
    height:100%;
    width:100%;
    position:absolute;
    bottom:5%;
    filter: blur(0);
    transition: all .5s ease;
}
.box:hover .imagebox {
    filter: blur(25px);
    transition: all .5s ease;
}
.box .thing {
    position:absolute;
    width:25%;
    height:25%;
    background-color: #101010;
    top:-35%;
    right:-25%;
    clip-path: polygon(100% 0, 50% 0, 100% 100%);
    z-index: 1;
    text-align: right;
    padding: 1.25%;
    transition: all .5s ease;
}
.box .copylink {
    position:absolute;
    width:25%;
    height:50%;
    background-color: #101010;
    bottom:-50%;
    right:-25%;
    clip-path: polygon(100% 0, 50% 100%, 100% 100%);
    z-index: 3;
    text-align: right;
    padding: 1.25%;
    transition: all .5s ease;
}
.box .copylink a1 {
    position: absolute;
    bottom:15px;
    right:10px
}
.box:hover .copylink {
    bottom:-10%;
    right:0%;
    transition: all .5s ease;
}
.box:hover .thing {
    top:-10%;
    right:0px;
    transition: all .5s ease;
}
.box .imagebox img {
    height:90%;
    margin-top: 5%;
}
.box share {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
button {
    background-color: #0080ff;
    border: 2px solid #00408080;
    border-radius: 10px;
    color: black;
    font-size: large;
}
socials {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    transition: .2s ease-in-out;
}
socials a {
    color:#303030;
}
socials#right{
    float:left
}
socials#left{
    float:right
}
socials:hover {
    font-size: 40px;
    margin-left: 15px;
    margin-right: 15px;
    transition: .3s ease-in-out;
}
socials#crim a:hover {
    color: crimson;
}
socials#purp a:hover {
    color: #8d5ed4;
}
socials#blurp a:hover {
    color: #5865F2;
}
socials#corn a:hover {
    color: cornflowerblue;
}
img#spelis {
    position: fixed;
    bottom:-30px;
    left:0;
    width:80px;
    transition: 0.3s ease-in;
    transition-delay: 0s;
}
img#spelis:hover {
    bottom:0px;
    left:0;
    width:80px;
    transition: 0.3s ease-out;
    transition-delay: 0.25s;
}
img.profilepic {
    background-color:#202020;
    border-radius: 100%;
    border: 5px solid #151515;
    height: 200px;
}
div.aboutme h3 {
    font-family: Roboto;
    font-weight: 300;
}
#rounded {
    border-radius: 100%;
}










.downloadbox {
    background-color: #000000bf;
    border: 5px solid white;
    width:75%;
    height:75%;
    position: fixed;
    top:12.5%;
    left:12.5%;
    align-content: center;
    border-radius: 100px;
    text-align: center;
}
.downloadbox > * {
    font-size: 200%;
    margin-left: 5%;
    margin-right: 5%;
}
.downloadbox h1 {
    font-size:300%;
}